<app-interface [song]="currentSong" [state]="state"></app-interface>

<div class="ytplayer">
  <div class="hidden"><div id="ytplayer"></div></div>
</div>

<div class="panel" *ngIf="currentSong.title">
  <div class="title top-left">
    {{currentSong.title}}
  </div>
  <div class="title bottom-right">
    {{currentSong.artist}}
  </div>
  <div class="controls">
    <div class="controls-group">
      <button *ngIf="user.allowShuffle" (click)="allowShuffle(!user.shuffle)" [ngClass]="user.shuffle ? 'on' : 'off'"><i class="fas fa-random"></i></button>
      <button (click)="open = !open" title="Share Song"><i class="fas fa-share-alt"></i></button>
    </div>
    <button (click)='playSong()' title="Play Song"><i class="fas" [ngClass]="{'fa-play' : state!=='PLAY', 'fa-pause' : state=='PLAY'}"></i></button>
    <button (click)='nextSong()' title="Next Song"><i class="fas fa-step-forward"></i></button>
  </div>
  <app-modal [header]="'share '+currentSong.title" [state]='open' (state)='open = $event'>
    <div class="input-group">
      <input #link type="text" readonly [value]="slugURL(currentSong)">
      <button (click)='copyLink(link)' class="inline" title="Copy Link">COPY</button>
    </div>
  </app-modal>
</div>
