@import '../../constants.scss';

:host {
  width: 100%;
  height: 100%;
  font-family: 'MADEWaffleSoft';
}

.hidden {
  height: 1px;
  width: 1px;
  position: fixed;
  z-index: -1;
  overflow: hidden;
}

.panel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .title {
    max-width: 50vw;
    position: absolute;
    z-index: 1;
    font-size: calc(1vh + 2vw);
    text-transform: uppercase;
    color: white;
    padding: 0.5rem 2rem;
    cursor: default;
  }
  .top-left {
    top: 0;
    left: 0;
    background: $cyan;
  }
  .top-right {
    top: 0;
    right: 0;
  }
  .bottom-left {
    bottom: 0;
    left: 0;
  }
  .bottom-right {
    bottom: 0;
    right: 0;
    background: $cyan;
  }
  .controls {
    width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
      font-size: calc(2vh + 2vw);
      transition: 0.2s;
      color: $black;
      background: none;
      border: none;
      cursor: pointer;
      &:hover {
        transform: scale(1.3,1.3);
      }
    }
    .controls-group {
      button {
        display: block;
        &.off {
          color: rgba(0,0,0,0.5);
        }
        &.on {
          color: $black;
        }
      }
    }
  }
}
