<app-modal *ngIf="(!this.user.cookies || this.user.cookies == undefined) && cModal"
          [header]="'About Cookies'"
          [state]='true'
          (state)='open = $event'
          class="cookies">
          <div class="input-group">
            <p>
              Cookies are used to enhance your experience with the playlist. With your agreement, data about the last song played and shuffle preferences will be stored on your device but never sent to any server.
            </p>
            <button (click)='allowCookies(true)' class="inline" title="Allow Cookies">Allow</button>
            <button (click)='allowCookies(false)' class="inline no-background" title="Reject Cookies">Reject</button>
          </div>
</app-modal>
<router-outlet></router-outlet>
<footer>
  <p>
    Contact : Paul Roche
    <span><i class="far fa-copyright"></i> GNU GPL</span>
  </p>
  <img src="assets/lpe.svg">
  <p>
    <a href="mailto:paulbh.roche@gmail.com" title="Look What You Mail Me Do">
      <i class="fas fa-envelope fa-2x"></i>
    </a>
    <a href="https://github.com/paulbhr" title="Oops! I Git It Again">
      <i class="fab fa-github fa-2x"></i>
    </a>
    <a href="https://www.linkedin.com/in/paul-roche-a74265142/" title="LinkedIn Park">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
  </p>
</footer>
