@import '../constants.scss';

:host {
  width: 100%;
  height: 100%;
}

.cookies {
  .input-group {
    display: flex;
    flex-flow: column wrap;
    p {
      font-size: calc(2vh + 1vw);
      margin: 0 0 2rem 0;
    }
    button {
      border: none;
      display: block;
      cursor: pointer;
      margin: 0 0 0.5rem 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .no-background {
      background: rgba(0,0,0,0.3);
      &:hover {
        background: $white;
        color: $blue;
      }
    }
  }
}

footer {
  background: $yellow;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "MADEWaffleSoft";
  color: $white;
  padding: 2vh 2vw;
  padding-top: 3vh;
  box-shadow: inset 0 5px 20px rgba(0,0,0,0.3);
  a {
    color: $white;
    text-decoration: none;
    margin: 0 1ch;
    &:hover {
      animation: funk 3s infinite forwards ease-in-out;
    }
  }
  p {
    text-align: center;
    flex: 1;
    font-size: calc(1vh + 1vw);
    cursor: default;
    span {
      display: block;
    }
  }
  img {
    max-width: 25vw;
  }
}

@keyframes funk {
  0% {
    color: $blue;
  }
  25% {
    color: $green;
  }
  50% {
    color: $magenta;
  }
  75% {
    color: $cyan;
  }
  to {
    color: $blue;
  }
}
