<div class="container" [ngClass]="{'visible' : state}">
  <button (click)="toggleModal()" class="close-bttn"><i class="fas fa-times"></i></button>
  <h1>{{header}}</h1>
  <ng-content></ng-content>
</div>
