@import '../../constants.scss';

:host {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  background: $blue;
  border-radius: 10px;
  color: $white;
  position: relative;
  padding: 2rem;
  max-width: 100vw;
  display: none;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  &.visible {
    display: block;
  }
}

h1 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: calc(2vh + 2vw);
  max-width: 75%;
  float: left;
}

button {
  display: inline-block;
  color: $black;
  transition: 0.3s;
  transform-origin: center;
  background: none;
  border: none;
  cursor: pointer;
  &:hover {
    color: $white;
    transform: rotate(90deg);
  }
  &:active {
    color: $magenta;
    transition: 0.1s;
  }
  &.close-bttn {
    float: right;
    font-size: calc(2vh + 2vw);
  }
}
