@import './constants.scss';

@font-face {
  font-family: "MADEWaffleSoft";
  src: url('assets/fonts/MADEWaffleSoft.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "MADEWaffleSoft";
}

input {
  display: inline-block;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem;
}

app-modal input, app-modal button {
  font-size: calc(1vh + 2vw);
}

app-modal button.inline {
  display: inline-block;
  background: $cyan;
  color: $white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    color: $cyan;
    background: $white;
  }
  &:active {
    color: $white;
    background: $green;
    transition: 0.1s;
  }
}

app-modal div.input-group {
  display: flex;
  width: 100%;
  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  button.inline {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
