@import '../../constants.scss';

:host {
  display: block;
  font-family: 'MADEWaffleSoft';
  height: 100%;
  width: 100%;
  overflow: hidden;
  .animations {
    width: 100%;
    height: 100%;
    .landscape {
      @media (orientation: portrait) {
        display: none;
      }
    }
    .portrait {
      @media (orientation: landscape) {
        display: none;
      }
    }
  }
}

svg {
  height: 100%;
  width: 100%;
}

.cls-1, .cls-12, .cls-8, .cls-9 {
  fill: none;
}

.cls-2 {
  fill: $yellow;
}

.cls-3 {
  fill: $magenta;
}

.cls-4 {
  fill: $green;
}

.cls-5 {
  fill: $blue;
}

.cls-6 {
  fill: $white;
}

.cls-7 {
  clip-path: url(#clip-path);
}

.cls-10, .cls-12, .cls-8, .cls-9 {
  stroke: $black;
}

.cls-12, .cls-8, .cls-9 {
  stroke-linecap: round;
}

.cls-8 {
  stroke-linejoin: round;
}

.cls-10, .cls-8 {
  stroke-width: 2.84px;
}

.cls-10, .cls-12, .cls-9 {
  stroke-miterlimit: 10;
}

.cls-9 {
  stroke-width: 3.4px;
}

.cls-11 {
  clip-path: url(#clip-path-2);
}

.cls-12 {
  stroke-width: 2.63px;
}

.cls-13 {
  clip-path: url(#clip-path-3);
}

.cls-14 {
  fill: $black;
}

.cls-15 {
  clip-path: url(#clip-path-4);
}

.cls-16 {
  fill: $cyan;
}

#flower-2, #flower-1, #flower-0, #yolo-pattern {
  transform-origin: center;
  transition: 1s;
}
